@model Room
@{
    var urlOfThisRoom = Model.Url;
    var isOwner = Model.OwnerUserID == this.User.Identity.Name;
}
@section head {
    @Styles.Render("~/content/box-css")
}
@section headerLeft {
    <a href="/" class="go-home"></a>
    @if (isOwner)
    {
        <a href="@Url.RouteUrl("Room", new { id = Model.RoomNumber, action = "Settings" })" class="go-settings"></a>
    }
}
@section headerRight {
    @Html.Partial("_ShareBox", Model)
}

<div ng-app="theApp" ng-controller="roomController as ctrl" class="room-page">

    <div>
        <canvas id="canvas" width="800" height="540"></canvas>
    </div>

</div>
@section scripts{
    @Html.Partial("_AppInfoJS", Model)
    <script src="~/Views/Default/Box.js"></script>
    <script src="~/Scripts/sharebox.js"></script>
}