@model Room

@{
    ViewBag.Title = "Controller";
}
@section head {
    @Styles.Render("~/content/controller-css")
}
@section headerLeft{
    <a href="/" class="go-home"></a>
}

<div id="controller" ng-app="theApp" ng-controller="controllerController as ctrl">
    <div id="items">
        <div id="coin" class="item">
            <img class="img-throwing coin" src="~/Content/images/coin.png" ng-click="ctrl.countUpCoin(10)">
        </div>
        <div id="stone" class="item">
            <img class="img-throwing coin" src="~/Content/images/stone.png" ng-click="ctrl.countUpDis(10)">
        </div>
    </div>
    <div id="result">
        <ul>
            <li id="resultYen"><span ng-bind="countOfCoin">0</span> Yen</li>
            <li id="resultDis"><span ng-bind="countOfDis">0</span> Dis</li>
        </ul>
    </div>
    <div id="buttons">
        <input type="button" name="reset" value="Reset" id="buttonReset" />
        <input type="button" name="tweet" value="Tweet" id="buttonTweet" />
        @*<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>*@
    </div>
</div>
@section scripts{
    <script src="~/Views/Default/controller.js"></script>
}