@model Room

@{
    ViewBag.Title = "Controller";
}
@section head {
    @Styles.Render("~/content/controller-css")
}
@section headerLeft{
    <a href="/" class="go-home"></a>
}
@section headerRight {
    @Html.Partial("_ShareBox", Model)
}

<div ng-app="theApp" ng-controller="controllerController as ctrl" ng-class='{"has-title": ctrl.title != ""}'>

    <div id="session-title">{{ctrl.title}}</div>

    <div id="controller">
        <div id="items" ng-class="'dis-coin '+ (ctrl.allowDisCoin ? 'allow' : 'deny')">
            <div id="coin" class="item">
                <img class="img-throwing coin" src="~/Content/images/coin.png" ng-click="ctrl.countUpCoin(10)">
                <div><span ng-bind="ctrl.countOfLike | number">0</span> Yen</div>
            </div>
            <div id="stone" class="item">
                <img class="img-throwing coin" src="~/Content/images/stone.png" ng-click="ctrl.countUpDis(10)">
                <div><span ng-bind="ctrl.countOfDis | number">0</span> Dis</div>
            </div>
        </div>
        <div id="buttons">
            <input type="button" value="Tweet" id="buttonTweet" ng-click="ctrl.tweet()" />
        </div>
    </div>
</div>

@section scripts{
    @Html.Partial("_AppInfoJS", Model)
    @Scripts.Render("~/bundles/controller-js")
}