@model Room
@{
    ViewBag.Title = "Settings";
}
@section headerLeft{
    <a href="@Url.RouteUrl("Room", new { id = Model.RoomNumber, action = "Box" })" class="go-home"></a>
}

<form method="post">
    @Html.AntiForgeryToken()
    <p>
        <label for="TwitterHashtag">Twitter Hashtag</label>
        <span>#</span>
        <span>
            @Html.TextBoxFor(m => m.TwitterHashtag, new { style = "width:50%;" })
        </span>
    </p>
    <p>
        <input type="submit" value="Save" class="btn btn-primary" />
    </p>
</form>