@page
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HELLO</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>Hello</h1>

    <div>
        <button id="button" type="button">click me</button>
    </div>

    <script src="~/scripts/signalr.js"></script>
    <script src="~/scripts/index.js"></script>
</body>
</html>