@page "/room/{roomNumber}/box"
@section head {
    <link href="~/styles/nagesenBox.min.css" rel="stylesheet" />
}
<div id="room-number-holder">
</div>

@section scripts {
    @*<script src="~/scripts/signalr.js"></script>*@
    <script src="~/scripts/nagesenBox.js"></script>
}
