@page "/room/{roomNumber}"
@section head {
    <link href="~/styles/nagesenController.min.css" rel="stylesheet" />
}
<div id="room-number-holder">
</div>

@section scripts {
    <script src="~/scripts/nagesenController.js"></script>
}
