
/* "Share" box, QR code */

.room-url {
    color: #0026ff;
}

.qr-code-icon {
    .naas-icon {
        //border: solid 1px red;
        position: absolute;
        //display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 26px;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-left: 4px;
        color: #000;
    }
}

#share-box-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

#share-box-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.2;
    z-index: -1;
}

#share-box {
    background-color: white;
    width: 100%;
    box-shadow: #000 0 4px 16px 0;

    .button.tweet {
        margin-left: 8px;
        margin-top: -10px;
        position: relative;
        top: 0;
        padding: 0;
        height: 34px;
        line-height: 32px;

        .naas-icon {
            vertical-align: middle;
            margin-right: 4px;
        }
    }

    .room-url {
        display: inline-block;
        font-size: 32px;
    }

    .qr-code {
        //border: solid 1px red;
        width: 50vh;
        height: 50vh;
        object-fit: contain;
        margin: -18px;
    }
}

/* header, title */
#app-title:after {
    content: ' - ';
}

.room-number:after,
.room-url:after {
    content: ' | ';
    color: black;
}

@media screen and (max-width: 650px) {
    #app-title {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .room-number {
        display: none;
    }
}
