@import 'normalize.scss';
@import 'naas-iconfont.scss';

:root {
    --header-height: 48px;
}

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    display: none;
}

header {
    height: var(--header-height);
    line-height: var(--header-height);
    display: block;
    background-color: #eee;
    font-weight: bold;
    position: relative;

    a.go-home {
        .naas-icon {
            //border: solid 1px red;
            font-size: 32px;
            // display: inline-block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 8px;
            left: 8px;
            color: #aaa;
            transition: color linear 0.2s;

            &:hover {
                color: #444;
            }
        }
    }
}

.main {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
}

a {
    color: rgb(18, 132, 255);
    text-decoration: none;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        cursor: default;
    }
}

a.btn-primary,
input.btn-primary {
    display: block;
    background-color: rgb(18, 132, 255);
    border: none;
    color: white;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 4px 4px;
    transition: background-color linear 0.2s;
}

.btn-primary.disabled {
    background-color: #ccc;
}

/* room page */

/* room page - room number */
.room-number-container div {
    width: 110px;
}

.room-number-container {
    width: auto;
    display: inline-block;
    position: relative;
}

.room-page .room-number {
    font-size: 150%;
    font-weight: bold;
}

.room-page .qrcode-of-roomurl {
    width: 52px;
    position: absolute;
    top: 0;
    left: -60px;
    z-index: 1;
    transition: all linear 0.3s;
}

.room-page .qrcode-of-roomurl.zoom {
    width: 270px;
    left: -80px;
}

.room-page .short-url {
    margin-top: 0px;
    color: rgb(18, 132, 255);
    font-weight: bold;
}

@import 'buttons.scss';
