@model NagesenAsAService.Models.Room
<span class="room-number">Room #@Model.RoomNumber</span>
<span class="room-url">@Model.ShortUrl</span>
<a id="qr-code-icon" class="qr-code-icon"><i class="naas-icon">qrcode</i></a>

<div id="share-box-container">

    <div id="share-box-mask">
    </div>

    <div id="share-box">
        <div class="header">
            <span class="room-url">@Model.ShortUrl</span>
            <a id="tweet-to-share-button" class="button tweet"><i class="naas-icon">twitter</i>tweet</a>
        </div>
        <img src="@($"/api/rooms/{Model.RoomNumber}/qrcode")" alt="@Model.ShortUrl" class="qr-code" />
    </div>

</div>
