@model Room
<span class="room-number">Room #@Model.RoomNumber</span>
<span class="room-url">@Model.ShortUrl</span>
<a href="#" class="qr-code-icon"></a>

<div class="share-box">
    <div class="header">
        <span class="room-url">@Model.ShortUrl</span>
        <input type="button" value="Tweet" id="buttonTweet" />
    </div>
    <img src="@Url.RouteUrl("Room",new { id = Model.RoomNumber, action = "QRCodeOfRoom" })" alt="@Model.ShortUrl" class="qr-code" />
</div>

