@mixin overwrap-style {
    background-color: rgba(0,0,0,0.3);
    color: white;
}

@mixin all-linear-transition {
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

$session-title-height: 2.3em;

@mixin session-title-style {
    @include overwrap-style();
    @include all-linear-transition();
    height: 0;
    line-height: $session-title-height;
    overflow: hidden;
}
