body, #box {
    background-image: url(images/bg.png);
}

header a.go-settings {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-image: url(images/settings.png);
    background-size: contain;
    opacity: 0.5;
}

    header a.go-settings:hover {
        opacity: 0.3;
    }

.main {
    width: auto;
}

#box {
    position: relative;
    width: 802px;
}

#score-box {
    background-color: rgba(0,0,0,0.3);
    width: 6.7em;
    position: absolute;
    top: 1em;
    left: 680px;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    #score-box {
        left: 1em;
    }
}

#score-box .count-of-coin {
    text-align: right;
    padding: 0.3em;
    color: white;
    font-size: 95%;
    background-size: 1.3em;
    background-position: 0.3em center;
}

    #score-box .count-of-coin.like {
        background-image: url(images/coin.png);
    }

    #score-box .count-of-coin.dis {
        display: none;
        background-image: url(images/stone.png);
    }

#score-box.dis-coin.allow .count-of-coin.dis {
    display: block;
}

#canvas {
    width: auto;
    height: auto;
    border: solid 1px red;
    border-top: none;
}

#lnk-tweet {
    background-color: #1ab2e8;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    margin-left: 36px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 28px;
    color: white;
}

/* Settings */
#settings-dialog {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 0;
    background-color: white;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: rgba(0,0,0,0.4) 0 4px 3px;
    display: none;
}

    #settings-dialog * {
        width: auto;
    }

    #settings-dialog h2 {
        margin-top: 0;
        text-align: left;
    }

    #settings-dialog .form {
        display: inline-block;
        width: auto;
        margin: 2em;
    }

    #settings-dialog .field-container {
        margin-bottom: 0.7em;
        text-align: left;
    }

    #settings-dialog .buttons {
        margin-top: 1em;
        text-align: right;
    }

        #settings-dialog .buttons .btn {
            border: none;
            display: inline-block;
            width: 6em;
            height: 2em;
            line-height: 2em;
            margin: 0;
            padding: 0;
            border-radius: 4px;
        }
