.animated {
    -webkit-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        transform: translateY(-300px);
    }
}

@-moz-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        transform: translateY(-300px);
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        transform: translateY(-300px);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    -moz-animation-name: slideOutUp;
    -o-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

#controller {
    margin: 0 auto;
    position: relative;
    width: 640px;
}

#result {
    clear: both;
}

#coin,
#stone {
    margin: 10px 10px 0;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#coin {
    background-image: url(images/coin.png);
}

#stone {
    background-image: url(images/stone.png);
}

.item {
    float: left;
    width: 46.875%;
}

img {
    width: 100%;
}

#container button,
#buttons input {
    padding: 5px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 100px;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    -webkit-appearance: button;
}

input#buttonTweet {
    border-color: #1ab2e8;
    color: #fff;
    background-color: #1ab2e8;
}

#container button:hover,
#buttons input:hover {
    color: #fff;
    border-color: #555;
    background-color: #333;
}

#buttonBox,
#result li,
#buttons input {
    position: absolute;
}

#buttonBox {
    top: 10px;
    left: 800px;
    width: 125px;
    height: 590px;
    text-align: center;
}

    #buttonBox div {
        margin-top: 5px;
        margin-bottom: 15px;
    }

#btn_reset {
    margin-left: -50px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

#result li {
    bottom: -40px;
    width: 50%;
    text-align: center;
    list-style: none;
}

#resultYen {
    left: 0;
}

#resultDis {
    right: 0;
}

#buttons input {
    bottom: -100px;
}

#buttonReset {
    left: 0;
}

#buttonTweet {
    right: 0;
}

@media screen and (min-width: 701px) {
    #controller {
        width: 640px;
    }
}

@media screen and (max-width: 700px) {

    #coin,
    #stone {
        margin: 5px;
    }

    #controller {
        width: 320px;
    }
}

@media screen and (max-width: 400px) {
    #coin,
    #stone {
        margin: 0 0 5px;
    }

    #controller {
        margin: 0 auto;
        width: 40%;
        text-align: center;
    }

    .item {
        float: none;
        width: 100%;
    }

    #result li {
        bottom: -30px;
    }

    #buttons input {
        bottom: -65px;
    }

    input#buttonReset {
        left: -50px;
    }

    input#buttonTweet {
        right: -50px;
    }
}

@media screen and (min-height: 501px) {
    #controller {
        margin-top: 100px;
    }
}

@media screen and (min-height: 401px) {
    #controller {
        margin-top: 50px;
    }
}

@media screen and (max-height: 400px) {
    #controller {
        margin-top: 15px;
    }
}
