footer {
  padding-bottom: 12px; }
  footer * {
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px; }
  footer p {
    margin: 0; }
  footer a {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    color: #aaa;
    background-repeat: no-repeat;
    text-decoration: underline;
    transition: color linear 0.2s; }
    footer a:hover {
      color: black; }
  footer .social-buttons {
    display: block;
    position: relative;
    height: 48px;
    line-height: 48px; }
    footer .social-buttons .twitter-share-button {
      color: transparent; }
    footer .social-buttons .fb-like span {
      vertical-align: top !important;
      top: -2px; }
  footer .special-thanks,
  footer .powered-by {
    width: 100%;
    font-size: 12px;
    color: #aaa;
    margin-top: 8px;
    padding: 8px;
    border-top: solid 1px #ddd; }
  footer .powered-by .naas-icon {
    font-size: 16px;
    margin-right: 4px;
    vertical-align: middle;
    line-height: 32px;
    height: 32px; }
  footer .powered-by .real-favicon-gen {
    background-image: url(/images/powered-by/real-favicon-gen-g-16.png);
    padding-left: 18px; }

.home-page {
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column; }
  .home-page .main-form-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .home-page .main-form-container .main-form {
      display: inline-block;
      width: 85%;
      max-width: 640px; }
      .home-page .main-form-container .main-form .app-description {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 95%;
        text-align: center;
        padding: 0 8px; }
        .home-page .main-form-container .main-form .app-description:after {
          display: block;
          content: "";
          clear: both; }
  .home-page input.room-number {
    outline: none;
    border: none;
    border-bottom: solid 1px #ccc;
    font-size: 150%;
    width: 4em;
    padding: 0.1em 0.5em;
    -moz-appearance: textfield; }
    .home-page input.room-number:invalid {
      box-shadow: none !important; }
    .home-page input.room-number::-webkit-outer-spin-button, .home-page input.room-number::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .home-page .warning-of-expiration {
    margin-top: 8px;
    font-size: 12px;
    color: #888; }
