* {
  -ms-touch-action: none;
  touch-action: none; }

body {
  background-image: url(/images/bg.png); }

.animated {
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  -o-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    transform: translateY(-300px); } }

@-moz-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    transform: translateY(-300px); } }

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    transform: translateY(-300px); } }

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  -moz-animation-name: slideOutUp;
  -o-animation-name: slideOutUp;
  animation-name: slideOutUp; }

#controller {
  margin: 0 auto;
  position: relative;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#session-title {
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  height: 0;
  line-height: 2.3em;
  overflow: hidden; }
  .has-title #session-title {
    height: 2.3em; }

#coin {
  background-image: url(/images/coin.png); }

#stone {
  background-image: url(/images/stone.png);
  display: none; }

.dis-coin.allow #stone {
  display: inline-block; }

.item {
  margin: 10px 10px 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  display: inline-block; }

.item img {
  width: 100%;
  cursor: pointer; }

#buttons {
  margin-top: 2em; }

#container button,
#buttons input {
  padding: 5px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100px;
  background-color: #eee;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-appearance: button; }

input#buttonTweet {
  border-color: #1ab2e8;
  color: #fff;
  background-color: #1ab2e8; }

#container button:hover,
#buttons input:hover {
  color: #fff;
  border-color: #555;
  background-color: #333; }

@media screen and (min-width: 701px) {
  #controller {
    width: 640px; } }

@media screen and (max-width: 700px) {
  #coin,
  #stone {
    margin: 5px; }
  #controller {
    width: 320px; } }

@media screen and (max-width: 400px) {
  #coin,
  #stone {
    margin: 0 0 5px; }
  #controller {
    margin: 0 auto;
    width: 40%;
    text-align: center; }
  .item {
    width: 100%; } }

@media screen and (min-height: 501px) {
  #controller {
    margin-top: 100px; } }

@media screen and (min-height: 401px) {
  #controller {
    margin-top: 50px; } }

@media screen and (max-height: 400px) {
  #controller {
    margin-top: 15px; } }

/* "Share" box, QR code */
.room-url {
  color: #0026ff; }

.qr-code-icon {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 4px;
  background-color: white;
  background-image: url(/images/qrcode.png); }

.share-box {
  position: fixed;
  top: 5em;
  background-color: white;
  z-index: 3;
  width: 100%;
  display: none; }

.share-box #buttonTweet {
  padding: 5px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-appearance: button;
  display: inline-block;
  border-color: #1ab2e8;
  color: #fff;
  background-color: #1ab2e8;
  margin-left: 8px;
  margin-top: -10px;
  position: relative;
  top: 0; }

.share-box .room-url {
  display: inline-block;
  font-size: 32px; }

.share-box .qr-code {
  width: 301px;
  height: 301px;
  -o-object-fit: none;
  object-fit: none; }

/* header, title */
#app-title:after {
  content: ' - '; }

.room-number:after,
.room-url:after {
  content: ' | ';
  color: black; }

@media screen and (max-width: 650px) {
  #app-title {
    display: none; } }

@media screen and (max-width: 450px) {
  .room-number {
    display: none; } }
