body, #box {
  background-image: url(/images/bg.png); }

header #settings-button {
  position: absolute;
  right: 0;
  width: 3em;
  height: 3em;
  line-height: 3.7em;
  color: #888;
  cursor: pointer; }
  header #settings-button:hover {
    color: #000; }

.main {
  width: auto; }

#box-container {
  position: absolute;
  width: auto;
  top: 3em;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  text-align: center; }

#box {
  position: relative;
  margin: 0 auto;
  margin-top: 1em;
  width: 802px; }
  #box #session-title {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    height: 0;
    line-height: 2.3em;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1; }
    #box.has-title #session-title {
      height: 2.3em; }

#score-box {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  width: 6.7em;
  position: absolute;
  top: 1em;
  left: 680px;
  z-index: 1; }
  #score-box .count-of-coin {
    text-align: right;
    padding: 0.3em;
    font-size: 95%;
    background-size: 1.3em;
    background-position: 0.3em center; }
  #score-box .count-of-coin.like {
    background-image: url(/images/coin.png); }
  #score-box .count-of-coin.dis {
    display: none;
    background-image: url(/images/stone.png); }
  #score-box.dis-coin.allow .count-of-coin.dis {
    display: block; }
  .has-title #score-box {
    top: 3em; }

@media screen and (max-width: 800px) {
  #score-box {
    left: 1em; } }

#canvas {
  width: auto;
  height: auto;
  border: solid 1px red;
  border-top: none; }

#lnk-tweet {
  background-color: #1ab2e8;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  margin-left: 36px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  width: 28px;
  color: white; }

/* Settings */
#settings-container {
  position: absolute;
  width: 0;
  top: 3em;
  bottom: 0;
  right: 0;
  border: solid 1px #ccc;
  background-color: #eee;
  z-index: 2;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-out 0.2s;
  -o-transition: width ease-out 0.2s;
  -webkit-transition: width ease-out 0.2s;
  transition: width ease-out 0.2s; }
  #settings-container.visible {
    width: 15rem; }
  #settings-container #settings-content {
    width: 15rem; }
    #settings-container #settings-content .menu-item {
      border-bottom: solid 1px #ccc;
      padding: 1em 0 1em 1em; }
  #settings-container label {
    cursor: pointer; }
  #settings-container input {
    display: inline;
    width: auto; }
  #settings-container input[type=text] {
    width: 13rem; }
  #settings-container #reset-room {
    width: 13rem;
    color: #fff;
    background-color: darkred;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

/* "Share" box, QR code */
.room-url {
  color: #0026ff; }

.qr-code-icon {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 4px;
  background-color: white;
  background-image: url(/images/qrcode.png); }

.share-box {
  position: fixed;
  top: 5em;
  background-color: white;
  z-index: 3;
  width: 100%;
  display: none; }

.share-box #buttonTweet {
  padding: 5px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-appearance: button;
  display: inline-block;
  border-color: #1ab2e8;
  color: #fff;
  background-color: #1ab2e8;
  margin-left: 8px;
  margin-top: -10px;
  position: relative;
  top: 0; }

.share-box .room-url {
  display: inline-block;
  font-size: 32px; }

.share-box .qr-code {
  width: 301px;
  height: 301px;
  -o-object-fit: none;
  object-fit: none; }

/* header, title */
#app-title:after {
  content: ' - '; }

.room-number:after,
.room-url:after {
  content: ' | ';
  color: black; }

@media screen and (max-width: 650px) {
  #app-title {
    display: none; } }

@media screen and (max-width: 450px) {
  .room-number {
    display: none; } }
