* {
  -ms-touch-action: none;
  touch-action: none; }

body {
  background-image: url(/images/bg.png); }

#controller {
  margin: 0 auto;
  position: relative;
  width: 100%;
  user-select: none; }

#session-title {
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  height: 0;
  line-height: 2.3em;
  overflow: hidden; }
  .has-title #session-title {
    height: 2.3em; }

#coin {
  background-image: url(/images/coin.png); }

#stone {
  background-image: url(/images/stone.png);
  display: none; }

.dis-coin.allow #stone {
  display: inline-block; }

.item {
  margin: 10px 10px 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  display: inline-block; }
  .item img.coin {
    width: 100%;
    cursor: pointer;
    animation-duration: 0.1s;
    animation-fill-mode: both; }

.slideOutUp {
  animation-name: slideOutUp; }

@keyframes slideOutUp {
  0% {
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-300px); } }

#buttons {
  margin-top: 2em; }

@media screen and (min-width: 701px) {
  #controller {
    width: 640px; } }

@media screen and (max-width: 700px) {
  #coin,
  #stone {
    margin: 5px; }
  #controller {
    width: 320px; } }

@media screen and (max-width: 400px) {
  #coin,
  #stone {
    margin: 0 0 5px; }
  #controller {
    margin: 0 auto;
    width: 40%;
    text-align: center; }
  .item {
    width: 100%; } }

@media screen and (min-height: 501px) {
  #controller {
    margin-top: 100px; } }

@media screen and (min-height: 401px) {
  #controller {
    margin-top: 50px; } }

@media screen and (max-height: 400px) {
  #controller {
    margin-top: 15px; } }

/* "Share" box, QR code */
.room-url {
  color: #0026ff; }

.qr-code-icon {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 4px;
  background-color: white;
  background-image: url(/images/qrcode.png); }

#share-box-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #share-box-container.visible {
    opacity: 1;
    visibility: visible; }

#share-box-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.2;
  z-index: -1; }

#share-box {
  background-color: white;
  width: 100%;
  box-shadow: #000 0 4px 16px 0; }
  #share-box .button.tweet {
    margin-left: 8px;
    margin-top: -10px;
    position: relative;
    top: 0; }
  #share-box .room-url {
    display: inline-block;
    font-size: 32px; }
  #share-box .qr-code {
    width: 50vh;
    height: 50vh;
    object-fit: contain;
    margin: -18px; }

/* header, title */
#app-title:after {
  content: ' - '; }

.room-number:after,
.room-url:after {
  content: ' | ';
  color: black; }

@media screen and (max-width: 650px) {
  #app-title {
    display: none; } }

@media screen and (max-width: 450px) {
  .room-number {
    display: none; } }
